<table class="table">

    <tr class="table__row">
        <th class="table__head">Horas Vendidas</th>

    </tr>

    <tr class="table__row">
        <th class="table__head table__row">Rol</th>
        <th class="table__head table__row">Nombre</th>
        <th class="table__head table__row">Año</th>
        <th class="table__head table__row">Mes</th>
        <th class="table__head table__row">Semana</th>
        <th class="table__head table__row">Dia</th>
    </tr>


    <!-- <% rows.forEach((row, index)=> { %>
        <tr class="table__row">
            <td class="table__data ">
                <%= row.role %>
            </td>
            <td class="table__data ">
                <%= row.user %>
            </td>

            <td class="table__data ">
                <%= row.year %>
            </td>
            <td class="table__data ">
                <%= row.month %>
            </td>
            <td class="table__data ">
                <%= row.week %>
            </td>
            </td>
            <td class="table__data ">
                <%= row.day %>
            </td>
        </tr>

    <% }) %>
         -->

    

</table>