<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="navigation-bar">
  <H3 class="nav__user"><%= info.user %></H3>
  <%- include(buttons); %>
</div>

<div class="control-panel">
  <%- include(controls); %>
</div>

<%- include('../partials/tvs-container') %>

<%- include(footer); %>

